#customize-control-type_select_logo {border-top: 1px solid #eee;padding-top: 20px;margin-top: 15px;}
#customize-control-thumb_bg_color {border-bottom: 1px solid #eee;padding-bottom: 17px;margin-bottom: 15px;}
#customize-control-blogdescription {padding-bottom: 15px;}