.customize-panel-back:focus, .customize-section-back:focus {background-color: #fff;}
.customize-panel-back:hover, .customize-section-back:hover {background-color: #eee;}
#bean-doc {position: absolute;bottom: 8px;right: 10px;z-index: 50;display: block;padding: 0;}
a#help_guide.button {left: 15px;right: 15px;text-align: center;}
.customize-control-checkbox label {}
#customize-controls .description {color: #888;font-weight: normal;}
.image-radio {display: none !important;}
.customize-control-images_radio p {margin: 0 0 15px;}
.image-radio + label {display: block;background-color: #dbdbdb;float: left;width: 100%;border-radius: 3px;text-align: center;margin-bottom: 5px;}
.image-radio + label img {margin: 0 auto;display: block;}
.image-radio:checked + label {background-color: #2ea2cc;opacity: 1;}
span.description {margin-bottom: 15px;}
.description.textarea-description {display: block;}
.customize-control-radio input {margin-top: -2px;}
p.description {display: none;}
#available-widgets [class*=flickr] .widget-title:before, #available-widgets [class*=dribbble] .widget-title:before, #available-widgets [class*=instagram] .widget-title:before, #available-widgets [class*=bean_500px] .widget-title:before {content: "";}
#available-widgets [class*=features] .widget-title:before, #available-widgets [class*=intro] .widget-title:before {content: "";}
#available-widgets [class*=portfolio] .widget-title:before {content: "";}
#available-widgets [class*=portfolio_menu] .widget-title:before {content: "";}
#available-widgets [class*=portfolio_tax] .widget-title:before {content: "";}
#available-widgets [class*=testimonials] .widget-title:before {content: "";}
#bean-loading {border: 2px solid #bbb;border-color: rgba(0,0,0,.25);border-bottom-color: #0073aa;border-radius: 100%;bottom: 15px;height: 25px;right: 15px;margin: 0 auto;position: fixed;width: 25px;z-index: 9999;-webkit-animation: rotate .75s linear 0s infinite;animation: rotate .75s linear 0s infinite;}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@keyframes rotate {from {-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
.info-link {float: right;}
.customize-control select {background: #fcfcfc url("../../assets/images/select.png") no-repeat 97% 12px;border: 1px solid #ccc;border-radius: 3px;box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);color: #555;cursor: pointer;display: inline-block;font-size: 13px;height: 28px;line-height: 18px;overflow: hidden;padding: 0 0 0 8px;text-decoration: none;width: 100%;white-space: nowrap;vertical-align: top;-webkit-appearance: none;}
.customize-control select:hover {background-color: #fafafa;background-position: 97% -23px;border-color: #999;color: #222;}
@-moz-document url-prefix() {.customize-control select {padding: 2px;}}
li[id*='accordion-section-divider'] * {display: none;}
li#accordion-section-nav .description, li#accordion-section-static_front_page .description {display: none;}
li#accordion-section-tools {display: none !important;}
a#tools_css.button {left: 61px;outline: none !important;position: absolute;top: 9px;}
a#tools_css.button:focus {box-shadow: none;}
#bean-customcss {bottom: 0;display: none;left: 0;position: absolute;right: 0;top: 0;z-index: 90;}
#bean-customcss form {background: none;bottom: 0;left: 0;margin: 0 !important;outline: none !important;position: absolute;padding: 0;right: 0;top: 0;}
#bean-customcss form .CodeMirror {cursor: text;width: 100%;height: 100%;font: 14px/1.6 "Droid Sans Mono",monospace;text-rendering: optimizeLegibility;}
#bean-customcss.active + iframe {display: none;}
.customize-control-slider input[type=text] {border-radius: 4px;}
.bean_slider.ui-slider {background: #ccc;border-radius: 5px;height: 5px;margin-top: 11px;position: relative;text-align: left;}
.bean_slider.ui-slider .ui-slider-handle {background: #fff;border: none;border-radius: 100px;cursor: pointer;height: 1.4em;margin-left: -.6em;outline: none !important;position: absolute;top: -9px;width: 1.4em;z-index: 2;-moz-box-shadow: 0 2px 4px rgba(0,0,0,.1);box-shadow: 0 2px 4px rgba(0,0,0,.1);-webkit-transition: box-shadow .15s;-moz-transition: box-shadow .15s;-ms-transition: box-shadow .15s;-o-transition: box-shadow .15s;}
.bean_slider.ui-slider .ui-slider-handle:hover {-moz-box-shadow: 0 2px 5px rgba(0,0,0,.25);box-shadow: 0 2px 5px rgba(0,0,0,.25);}
#customize-theme-controls .accordion-section-content {padding-top: 10px;padding-bottom: 10px;}
.customize-control {margin-bottom: 10px;}
.customize-control.customize-control-checkbox {margin-bottom: 0;}
.customize-control-radio label {line-height: 25px;}
.customize-control-background .upload-button, .customize-control-site_icon .upload-button, .customize-control-header .new, .customize-control-image .upload-button, .customize-control-upload .upload-button {float: left;}
.customize-control-background .actions, .customize-control-site_icon .actions, .customize-control-header .actions, .customize-control-image .actions {margin-bottom: 15px;}
.customize-control-background .current .container, .customize-control-site_icon .current .container, .customize-control-image .current .container, .customize-control-upload .current .container {min-height: 30px;}
.customize-control-background .inner, .customize-control-site_icon .inner, .customize-control-header .inner, .customize-control-header .inner .dashicons, .customize-control-image .inner, .customize-control-upload .inner {line-height: 10px;}
.customize-control-background .current .container, .customize-control-site_icon .current .container, .customize-control-header .current .container, .customize-control-image .current .container, .customize-control-upload .current .container {background-color: #f5f5f5;border: 1px dashed #b4b4b4;}
.customize-control-background .inner, .customize-control-site_icon .inner, .customize-control-header .inner, .customize-control-image .inner, .customize-control-upload .inner {color: #b4b4b4;font-size: 12px;}
.CodeMirror {font-family: monospace;height: 300px;}
.CodeMirror-scroll {overflow: auto;}
.CodeMirror-lines {}
.CodeMirror pre {padding: 0;}
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {background-color: white;}
.CodeMirror-gutters {background-color: #fff;white-space: nowrap;}
.CodeMirror-linenumber {min-width: 60px;text-align: center;color: #ababb0;-moz-box-sizing: content-box;box-sizing: content-box;}
.CodeMirror-guttermarker {color: black;}
.CodeMirror-guttermarker-subtle {color: #999;}
.CodeMirror div.CodeMirror-cursor {border-left: 1px solid #fff;}
.CodeMirror div.CodeMirror-secondarycursor {border-left: 1px solid silver;}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {width: auto;border: 0;background: #fff;}
.cm-animate-fat-cursor {width: auto;border: 0;-webkit-animation: blink 1.06s steps(1) infinite;-moz-animation: blink 1.06s steps(1) infinite;animation: blink 1.06s steps(1) infinite;}
@-moz-keyframes blink {0% {background: #7e7;}
	50% {background: none;}
	100% {background: #7e7;}}
@-webkit-keyframes blink {0% {background: #7e7;}
	50% {background: none;}
	100% {background: #7e7;}}
@keyframes blink {0% {background: #7e7;}
	50% {background: none;}
	100% {background: #7e7;}}
.cm-tab {display: inline-block;}
.CodeMirror-ruler {position: absolute;}
.cm-s-default .cm-keyword {color: #bada6b;}
.cm-s-default .cm-atom {color: #bada6b;}
.cm-s-default .cm-number {color: #bada6b;}
.cm-s-default .cm-def {color: #ebcb8b;}
.cm-s-default .cm-variable, .cm-s-default .cm-punctuation, .cm-s-default .cm-property, .cm-s-default .cm-operator, .cm-s-default .cm-string-2, .cm-s-default .cm-attribute, .cm-s-default .cm-error, .cm-s-default .cm-meta {color: #6ed1e9;}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-comment {color: #757679;}
.cm-s-default .cm-string {color: #ebcb8b;}
.cm-s-default .cm-builtin, .cm-s-default .cm-tag, .cm-s-default .cm-variable-3, .cm-s-default .cm-builtin {color: #f45c59;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-quote {color: #090;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}
.cm-s-default .cm-qualifier {color: #f9d597;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-invalidchar {color: #ab7967;}
div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag {background: rgba(255,150,0,.3);}
.CodeMirror-activeline-background {background: #363c45;}
.CodeMirror {line-height: 1;position: relative;overflow: hidden;background: #282b2f;color: #ecf0f5;}
.CodeMirror-scroll {margin-bottom: -30px;margin-right: -30px;padding-bottom: 30px;height: 100%;outline: none;position: relative;-moz-box-sizing: content-box;box-sizing: content-box;}
.CodeMirror-sizer {position: relative;border-right: 30px solid transparent;-moz-box-sizing: content-box;box-sizing: content-box;}
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {position: absolute;z-index: 6;display: none;}
.CodeMirror-vscrollbar {right: 0;top: 0;overflow-x: hidden;overflow-y: scroll;}
.CodeMirror-hscrollbar {bottom: 0;left: 0;overflow-y: hidden;overflow-x: scroll;}
.CodeMirror-scrollbar-filler {right: 0;bottom: 0;}
.CodeMirror-gutter-filler {left: 0;bottom: 0;}
.CodeMirror-gutters {position: absolute;left: 0;top: 0;padding-bottom: 30px;z-index: 3;background: #232528;color: #ecf0f5;}
.CodeMirror-gutter {white-space: normal;height: 100%;-moz-box-sizing: content-box;box-sizing: content-box;padding-bottom: 30px;margin-bottom: -32px;display: inline-block;}
.CodeMirror-gutter-elt {position: absolute;cursor: default;z-index: 4;}
.CodeMirror-lines {cursor: text;}
.CodeMirror pre {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border-width: 0;background: transparent;font-family: inherit;font-size: inherit;margin: 0;white-space: pre;word-wrap: normal;line-height: inherit;color: inherit;z-index: 2;position: relative;overflow: visible;padding-left: 10px;}
.CodeMirror-wrap pre {word-wrap: break-word;white-space: pre-wrap;word-break: normal;}
.CodeMirror-linebackground {position: absolute;left: 0;right: 0;top: 0;bottom: 0;z-index: 0;}
.CodeMirror-linewidget {position: relative;z-index: 2;overflow: auto;}
.CodeMirror-wrap .CodeMirror-scroll {overflow-x: hidden;}
.CodeMirror-measure {position: absolute;width: 100%;height: 0;overflow: hidden;visibility: hidden;}
.CodeMirror-measure pre {position: static;}
.CodeMirror div.CodeMirror-cursor {position: absolute;border-right: none;width: 0;}
div.CodeMirror-cursors {visibility: hidden;position: relative;z-index: 1;}
.CodeMirror-focused div.CodeMirror-cursors {visibility: visible;}
.CodeMirror-selected {background: #363c45;}
.CodeMirror-focused .CodeMirror-selected {background: #363c45;}
.CodeMirror-crosshair {cursor: crosshair;}
.cm-searching {background: #ffa;background: rgba(255,255,0,.4);}
.CodeMirror span {}
.cm-force-border {padding-right: .1px;}
@media print {.CodeMirror div.CodeMirror-cursors {visibility: hidden;}}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi) {.customize-control select {background-image: url("../../assets/images/select@2x.png");background-size: 7px 39px;}}